/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'Dandy-GT-Haptik';
  src: url("../f/GT-Haptik-Regular.eot");
  src: url("../f/GT-Haptik-Regular.eot?#iefix ") format("embedded-opentype"), url("../f/GT-Haptik-Regular.woff") format("woff"), url("../f/GT-Haptik-Regular.ttf") format("truetype"), url("../f/GT-Haptik-Regular.svg") format("svg");
  font-style: normal;
  font-weight: normal; }
body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: #232323;
  font-size: 16px; }

body {
  line-height: 1.5;
  width: 100%;
  -webkit-tap-highlight-color: black;
  height: 100%;
  font-family: "GT Haptik", "Dandy-GT-Haptik", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: white;
  color: #333;
  font-feature-settings: "kern" 1;
  -webkit-transition: background 400ms ease-out;
  -moz-transition: background 400ms ease-out;
  transition: background 400ms ease-out; }

::selection {
  background: #f3f3f3;
  color: #58595b; }

::-moz-selection {
  background: #f3f3f3;
  color: #58595b; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 700; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: black; }

#page {
  -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.675rem;
  -webkit-transition: padding 800ms ease-in-out;
  -moz-transition: padding 800ms ease-in-out;
  transition: padding 800ms ease-in-out; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .wrapper {
      padding: 0 1.25rem; } }
  @media screen and (min-width: 1280px) {
    .wrapper {
      padding: 0 4rem; } }
  .wrapper.collapse-small {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-small {
        padding: 0 1rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-small {
        padding: 0 1.25rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-small {
        padding: 0 4rem; } }
  .wrapper.collapse-medium {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-medium {
        padding: 0; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-medium {
        padding: 0 1.25rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-medium {
        padding: 0 4rem; } }

.heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
  display: table;
  margin: 0 auto;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
      margin: 0;
      float: left;
      line-height: 1; } }
.heading-with-link a {
  display: table;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .heading-with-link a {
      margin: 0;
      margin-top: 0.6rem;
      float: right; } }

.full-bleed {
  width: 100%; }
  .full-bleed .wrapper {
    height: 100%; }

.neg-small {
  margin-right: -0.675rem;
  margin-left: -0.675rem; }
  @media screen and (min-width: 768px) {
    .neg-small {
      margin-right: auto;
      margin-left: auto; } }

.vertical-align-wrap {
  display: table !important;
  width: 100%;
  height: 100%; }
  .vertical-align-wrap .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; }

@media screen and (min-width: 768px) {
  .vertical-align-wrap-large {
    display: table !important;
    width: 100%;
    height: 100%; } }
@media screen and (min-width: 768px) {
  .vertical-align-wrap-large .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; } }

.pad-to-medium {
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .pad-to-medium {
      padding: 0; } }

.pad-to-large {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .pad-to-large {
      padding: 0; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.link-card {
  display: block; }

.no-small {
  display: none; }
  @media screen and (min-width: 768px) {
    .no-small {
      display: block; } }

.splash-wrap {
  height: inherit;
  text-align: center; }
  .splash-wrap p {
    font-size: 0.875rem;
    line-height: 1.7;
    max-width: 37em;
    margin: 0 auto 2.5em;
    color: transparent;
    -webkit-transition: color 800ms cubic-bezier(0.47, 0, 0, 0.95);
    -moz-transition: color 800ms cubic-bezier(0.47, 0, 0, 0.95);
    transition: color 800ms cubic-bezier(0.47, 0, 0, 0.95); }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .splash-wrap p {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .splash-wrap p {
        font-size: 1.375rem; } }
    .splash-wrap p:last-of-type {
      margin-bottom: 0; }
    .splash-wrap p a {
      color: transparent;
      padding-bottom: 0.05rem;
      border-bottom: 0.125em solid transparent;
      -webkit-transition: all 800ms cubic-bezier(0.47, 0, 0, 0.95);
      -moz-transition: all 800ms cubic-bezier(0.47, 0, 0, 0.95);
      transition: all 800ms cubic-bezier(0.47, 0, 0, 0.95); }
  .splash-wrap .link-dandy {
    color: #333;
    border-bottom: 0.125em solid transparent;
    opacity: 0; }

.dandy-hovered {
  background: black;
  -webkit-transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95); }
  .dandy-hovered .link-dandy {
    color: white;
    border-bottom: 0.125em solid white; }

.dandy-clicked {
  background: black;
  -webkit-transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: background 800ms cubic-bezier(0.47, 0, 0, 0.95); }
  .dandy-clicked p {
    color: #f3f3f3; }
    .dandy-clicked p a {
      color: white;
      border-bottom: 0.125em solid #aaaaaa;
      -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
      -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
      transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }
      .dandy-clicked p a:hover {
        border-bottom: 0.125em solid #aaaaaa;
        -webkit-transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95);
        -moz-transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95);
        transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95); }
  .dandy-clicked .link-dandy {
    color: white;
    border-bottom: 0.125em solid #aaaaaa;
    -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
    -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
    transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }
    .dandy-clicked .link-dandy:hover {
      border-bottom: 0.125em solid #aaaaaa;
      -webkit-transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95);
      -moz-transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95);
      transition: all 250ms cubic-bezier(0.47, 0, 0, 0.95); }

.link-outer-hovered {
  background: white;
  -webkit-transition: background 400ms ease-out;
  -moz-transition: background 400ms ease-out;
  transition: background 400ms ease-out; }
  .link-outer-hovered p {
    color: transparent; }
    .link-outer-hovered p a {
      color: transparent;
      border-bottom: 0.125em solid transparent !important; }
      .link-outer-hovered p a:hover {
        color: black; }
