!!!
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

%head
  %title Dandy
  %meta{:name => "description", :content => "FIXME"}

  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}

  %link{:rel => "shortcut icon", :href => "images/favicon.ico", :type => "image/x-icon"}
  %link{:rel => "icon", :href => "images/favicon.ico", :type => "image/x-icon"}

  %link{:rel => "stylesheet", :type => "text/css", :href => "css/main.css"}

  %script{:type => "text/javascript", :src => "js/scripts-min.js"}

%body

  .page-wrap
    .vertical-align-wrap
      .vertical-align
        %p We're a very <a href="#" class="link-dandy">Dandy</a> branding and creative studio, led by <a href="#" class="link-custer">John J. Custer</a>, focusing on optimistic and blunt solutions &mdash; with a dash of wit, of course.

        %p.contact Say <a href="#" class="link-hello">Hello</a> or <a href="#" class="link-follow">follow</a> along.

