//Fonts

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  @include font-file(SprTtl-Lightwebfont);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  @include font-file(SprTtl-Regularwebfont);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  @include font-file(SprTtl-Mediumwebfont);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  @include font-file(SprTtl-Boldwebfont);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  @include font-file(SprTtl-Blackwebfont);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  @include font-file(icomoon);
  font-weight: normal;
  font-style: normal;
}





