//Fonts

@font-face {
  font-family: 'Dandy-GT-Haptik';
  src: url('../f/GT-Haptik-Regular.eot');
  src: url('../f/GT-Haptik-Regular.eot?#iefix ') format("embedded-opentype"),
       url('../f/GT-Haptik-Regular.woff') format("woff"),
       url('../f/GT-Haptik-Regular.ttf') format("truetype"),
       url('../f/GT-Haptik-Regular.svg') format("svg");
  font-style: normal;
  font-weight: normal;
}