//Forms


input, textarea {
  // -webkit-appearance: none;
  border: 0;
  outline: 0;
  resize: none;
  font-family: $sans;
  @extend %aa-text;
  background: transparent;
}

// label {
//   display: table;
//   margin-bottom: 0.35rem;
// }

input[type=text], input[type=email], input[type=number], input[type=password] {
  width: 100%;
  @include appearance(none);
  display: block;
  border: 0;
  border-bottom: $standard-border;
  @extend %sg-body-copy;
  line-height: 1.2;
  padding: 0.35rem 0.75rem 0.25rem 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0 !important;
  @include transition($hover-out background ease-out, $hover-out border-bottom ease-out);
  &:hover {
    border-bottom: 1px solid $dark-grey;
  }
  &:focus {
    border-bottom: $border-black;
    @include transition($hover-in background ease-out, $hover-in border-bottom ease-out);
    color: $mid-black;
  }
  &.cart-input {
    width: auto !important;
    min-width: 0;
    max-width: 2rem;
    text-align: center;
    padding: 0.35rem 0.25rem 0.25rem 0.25rem;
    display: inline-block;
    border-bottom: 1px solid $grey-border;
    cursor: pointer;
    @include transition($hover-out background ease-out, $hover-out border-bottom ease-out);
    &:hover {
      background: $lighter-white;
    }
    &:focus {
      background: $light-white;
      border-bottom: 1px solid $black;
      @include transition($hover-in background ease-out, $hover-in border-bottom ease-out);
    }
  }
  &.filled-input {
    padding: 0.75rem 0.75rem 0.65rem 1rem;
    border-bottom: 0;
    background: $light-white;
    @include transition($hover-out background ease-out);
    font-size: 1rem;
    &:hover {
      background: $lighter-white;
      border-bottom: 0;
    }
    &:focus {
      background: $light-grey;
      border-bottom: 0;
      @include transition($hover-in background ease-out);
    }
    &.filled-input-small {
      padding: 0.35rem 0.75rem 0.25rem 0.45rem;
      font-size: 0.875rem;
      @include media($xlarge-up) {
        font-size: 0.938rem;
      }
    }
    &.has-errors {
      border: 1px solid $red;
    }
    .newsletter-signup & {
      color: $white;
      background: $mid-black;
      @include placeholder {
        color: $text-grey-paragraph;
        @include transition($hover-in color ease-out);
      }
      &:hover {
        background: lighten($mid-black, 2%);
      }
      &:focus {
        background: $light-black;
        @include placeholder {
          color: $text-dark-grey;
        }
      }
    }
  }
  #contactFormWrapper & {
    color: $white;
    border-bottom: 1px solid $text-grey-paragraph;
    @include placeholder {
      color: $text-grey-paragraph;
    }
    &:focus {
      border-bottom: 1px solid $white;
    }
    &:hover {
      border-bottom: 1px solid $text-mid-grey;
    }
    
  }
}

textarea {
  border: 1px solid $black;
  color: black;
  padding: 0.75rem;
  height: 8rem;
  width: 100%;
  @include transition($hover-out background ease-out);
  &:focus {
    background: $white;
  }
}

%button {
  @include appearance(none);
  border: 0;
  outline: none;
  font-size: 0.875rem;
  display: table;
  text-align: center;
  font-family: $sans;
  font-weight: $type-book;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1.25rem;
  background: $dark-black;
  color: $white;
  cursor: pointer;
  border-radius: 0;
  @extend %no-aa-text;
  @include transition($hover-out background ease-out, $hover-out height ease-out);
  &:hover {
    background: $black;
    @include transition($hover-in background ease-out);
  }
  &:focus {
    background: $black;
    @include transition($hover-in background ease-out);
  }
  &:active {
    background: $light-black;
  }
  &.button-cta {
    padding: 1.25rem 3rem;
    font-size: 1rem;
    font-weight: $type-bold;
  }
  &.button-gold {
    background: $gold;
    &:hover {
      background: $gold-hover;
    }
    &:focus {
      background: $gold-hover;
    }
  }
  &.button-inactive {
    background: $white;
    border: $standard-border;
    color: $text-light-grey;
    font-weight: $type-light;
    letter-spacing: 0.2rem;
    cursor: default;
    &.button-cta {
      padding: 1rem 4rem;
    }
  }
  &.button-errors {
    background: $white;
    color: $red;
    border: 2px solid $red;
    @include transition(all $short-transition ease-out);
  }
}

.button, button, input[type=submit] {
  @extend %button;
}

.errors {
  color: $red;
}

.form-error li {
  margin-top: 0.35rem;
  padding: 0.5rem 2.5rem;
  display: inline-block;
  @extend %sg-h5;
  color: $red;
  border: 1px solid $red;
}